@model Computer


<form method="post">
    <div class="container-xl bg-dark">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Computer</h2>
            </div>
            <div class="mb-3">
                <label asp-for="Processor"></label>
                <input asp-for="Processor" type="text" class="form-control" />
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MotherBoard"></label>
                <input asp-for="MotherBoard" type="text" class="form-control" />
                <span asp-validation-for="MotherBoard" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="VideoCard"></label>
                <input asp-for="VideoCard" type="text" class="form-control" />
                <span asp-validation-for="VideoCard" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Memory"></label>
                <input asp-for="Memory" type="text" class="form-control" />
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Storage"></label>
                <input asp-for="Storage" type="text" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Case"></label>
                <input asp-for="Case" type="text" class="form-control" />
                <span asp-validation-for="Case" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-success">Create</button>
            <button type="submit" class="btn btn-success" asp-controller="Computers" asp-action="Index">Back</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}